body{
  background-color: #121211;
  color: #fff;
}

#navbar {
  font-size: 30px;
}

#navbar ul{
}

#navbar ul li{
  display: inline-block;
}

#navbar ul li a:link{
  text-decoration:none;
}

#navbar ul li a:visited{
  color: #fff;
  outline: none;
}

#error {
  font-size: 10px;
  color: #f1c40f;
}

#navbar-right{
  float:right;
}

#configureWidget{
  text-align: center;
}

#configureWidget button{
  border-top: 2px solid #a3ceda;
  border-left: 2px solid #a3ceda;
  border-right: 2px solid #4f6267;
  border-bottom: 2px solid #4f6267;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #c4f1fe;
  font-weight: bold;
  color: #2d525d;
  cursor: pointer;
  outline: none;
}

#configureWidget #imageSelection .listedImage {
  display: inline-block;
  position: relative; 
  width: 200px; 
  height: 200px; 
  margin: 10px; 
  
}

#configureWidget #imageSelection .listedImage .checkbox { 
  position: absolute; 
  bottom: 0px; 
  right: 0px; 
}

#configureWidget #imageSelection .listedImage img{
  height: 200px;
  width: 200px;

}

#containerThumbnail{
  display: none;
}

#main{
  float:left;
  display: block;
  height: 550px;
}

#mainImageThumbnail{
  width: 815px;
  text-align: center;
  height: 470px;
  margin: 20px;
}

#mainImageThumbnail img {
  height: 100%;
}

#mainButtons{
  text-align: center;
}

#mainButtons button{
  border-top: 2px solid #a3ceda;
  border-left: 2px solid #a3ceda;
  border-right: 2px solid #4f6267;
  border-bottom: 2px solid #4f6267;
  font-size: 14px;
  background-color: #c4f1fe;
  font-weight: bold;
  color: #2d525d;
  outline: none;
  cursor: pointer;
}

#filmscroll{
  padding: 0px 20px;
  overflow: scroll;
  height: 550px;
  margin: 0px;
}

#imageList li{
  text-align: center;
  display: block;
  height: 180px;
  padding: 20px;
  cursor: pointer;
}

#imageList li img{
  height: 100%;
}

#containerSingle{
  display: none;
  text-align: center;
}

#mainImageSingle{
  text-align: center;
  height: 80%;
}

#mainImageSingle img {
  height: 100%;
  cursor: pointer;
}


